.header {
    background-color: #b0deff;
    text-align: center;
    padding: 20px;
    color: white;
}

.h1 {
    font-family: Arial;
}

.headingsmall {
    color: white;
    text-align: center;
}

.footer {
    background-color: #b0deff;
    position: absolute;
    bottom: 0;
    width: 100%;
}



