.header {
    background-color: #b0deff;
    text-align: center;
    padding: 20px;
    color: white;
}

.h1 {
    font-family: Arial;
}

.headingsmall {
    color: white;
    text-align: center;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer {
    background-color: #b0deff;
    padding: 3em;
    margin-top: auto;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.tipton-team {
    text-align: center;
}

.tipton-header {
    text-align: center;
}


