.header {
    background-color: #b0deff;
    text-align: center;
    padding: 20px;
    color: white;
}

.h1 {
    font-family: Arial;
}

.headingsmall {
    color: white;
    text-align: center;
}

.footer {
    background-color: #b0deff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



